p {
    font-family: Lato;
  }
  .example-form {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
  
  .example-full-width {
    width: 100%;
    text-align: center;
  }


  div{
      text-align: center;
  }